
html, body{
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
}

h1{
  color: #FFFFFF;
  background-color: #000000;
  margin: 0 auto;
  padding: 30px 0px;
}

.counters{
  background-color: #F0E6DA;
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.counters{
  flex-direction: row;
  flex: 1;
  padding: 30px;
}

#board{
  background-color: #14bdac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 300px 80px 300px
}

.message{
  display:none;
  font-size: 30px;
  font-weight: bold;
}

.alert{
  display:none;
  font-size: 30px;
  font-weight: bold;
}

.already{
  display:none;
  font-size: 30px;
  font-weight: bold;
}

.rows{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
}

.tic-tac-button{
  flex:1;
  flex-direction: row;
  border-radius: 3px;
  padding: 60px;
  background-color: #7ACDBE;
  margin: 0px 20px;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}

.tic-tac-button a{
  text-decoration: none;
  color:#000000;
}

.tic-tac-button:focus{
  border: 1px solid transparent;
}

.reset{
  background-color: #14bdac;
}

#reset{
  text-decoration: none;
  color: black;
  background-color: #EE8B42;
  padding: 15px 30px;
  border-radius: 3px ;
  margin-top: 30px;
}

.push{
  height: 300px;
  background-color: #14bdac;
}

footer{
 color: #FFFFFF;
 background-color: #000000;
 font-family: 'Quicksand', sans-serif;
 padding: 15px 0px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
